# Виртуальное окружение
venv/

# База данных
*.db
*.db-journal

# Логи
logs/
*.log

# Временные файлы
*.bak_*
*.tmp
gercvpn]*

# Состояния (если не нужны в репозитории)
futoi_state_*.json
bot_states.json

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# backups
*.bak*
*.bak_*
__pycache__/
